{
    "trailingComma": "es5",
    "tabWidth": 4,
    "singleQuote": true,
    "jsxBracketSameLine": true,
    "semi": true,
    "importOrder": [
        "^@core/(.*)$",
        "^@server/(.*)$",
        "^@ui/(.*)$",
        "^@mui/(.*)$",
        "^[./]"
    ],
    "importOrderSeparation": true,
    "importOrderSortSpecifiers": true,
    "plugins": ["@trivago/prettier-plugin-sort-imports"]
}
